*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.cursor{
    cursor: pointer;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #2c3c54;
    transition: 1s;
}

.titre{
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: coral;
}

.fa-fade{
    --fa-animation-duration: 3s;
}

.blocCentral{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch{
    width: 5.625rem;
    height: 1.875rem;
    background-color: #1e2939;
    border:  1px solid #1e2939;
    border-radius: 15px;
    position: relative;
    padding: 0.35rem;
    display: flex;
    align-items: center;
}

.btn{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: -1px;
    left: -1px;
}

i{
    position: absolute;
    color: coral;
    right: 25%;
}

.displayFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnReduire{
    margin-left: 2rem;
    padding: 1rem;
    width: 4rem;
    font-size: 2rem;
    background-color: coral;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.btnAgrandir{
    margin-right: 2rem;
    padding: 1rem;
    width: 4rem;
    font-size: 2rem;
    background-color: coral;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

/* modifications du switch */
.switchBackgroundChange{
    background-color: coral;
    border:  1px solid coral
}

.btnChange{
    background-color: #1e2939;
    right: -1px;
    left: auto;
}

.iconeChange{
    position: absolute;
    color: #1e2939;
    left: 25%;
}

.containerChange{
    background-color: whitesmoke;
    transition: 1s;
}
